<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manalyzer</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add custom CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Manalyzer - Gender Mention Ratio</h1>
            <form id="analyze-form">
                <div class="form-group">
                    <label for="text-to-analyze">Enter text to analyze:</label>
                    <textarea class="form-control" id="text-to-analyze" name="text-to-analyze" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Analyze</button>
            </form>
			<br>
            <h2>Result:</h2>
            <p id="result">N/A</p>
        </div>
    </div>

    <!-- Add Bootstrap and jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        const analyzeForm = document.getElementById("analyze-form");
        const resultElement = document.getElementById("result");

        analyzeForm.addEventListener("submit", async (event) => {
            event.preventDefault();

            const textToAnalyze = document.getElementById("text-to-analyze").value;
            const response = await fetch("http://localhost:80/analyze", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ text: textToAnalyze }),
            });

            if (response.ok) {
                const data = await response.json();
                resultElement.textContent = `Male-to-Female Ratio: ${data.male_to_female_ratio.toFixed(2)}`;
            } else {
                resultElement.textContent = "Error: Unable to process the request";
            }
        });
    </script>
</body>
</html>
